* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: url(./wp11416320.jpg) no-repeat center center/ cover;
}
.allBtn {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem auto 3rem;
  width: 500px;
}
.btn {
  width: 200px;
  height: 50px;
  border-radius: 3px;
  cursor: pointer;
  margin: 0.4rem;
  background: #dfe4ea;
  font-weight: 600;
}
.btn:hover {
  background-color: lightblue;
  color: rgb(77, 17, 77);
}
.btn:active {
  background-color: red;
}
#score {
  color: white;
}
.scoreDisplay {
  color: white;
  font-size: 25px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}
h1 {
  z-index: 1;
  font-size: 50px;
  color: white;
  font-family: "Holtwood One SC", serif;
}
.main-title {
  margin-bottom: 30px;
  font-size: 3rem;
  color: rgba(255, 0, 0, 0.656);
  font-family: "Holtwood One SC", serif;
  border: 3px solid white;
}
h2 {
  backdrop-filter: brightness(2.5);
}
h3 {
  color: white;
  font-size: 30px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}
